/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --dark-bg-color: #2f303a;
  --first-bg-color: #c4c4c4;
  --second-bg-color: #f5f4fa;
  --bg-border-color: #000000;
  --logo-color: #130d0d;
  --header-border-color: #ececec;
  --border-color: #eeeeee;
  --icons-color: #afb1b8;
  --grid-item: 1;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v27-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

.site-nav__link:hover, .site-nav__link:focus, .contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.site-nav__link, .contacts-list__link {
  transition: color var(--animation);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button,
input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__part {
  color: var(--accent-color);
}

.logo__part--light-bg {
  color: var(--logo-color);
}

.logo__part--dark-bg {
  color: var(--dark-bg-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav__list--hidden {
    display: none;
  }
}

.site-nav__list--mobile {
  flex-direction: column;
  font-size: 40px;
  line-height: 1.18;
}

@media screen and (max-width: 479px) {
  .site-nav__list--mobile {
    font-size: 32px;
  }
}

.site-nav__item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item--mobile {
  padding: 0;
}

.site-nav__item--mobile:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__link {
  color: var(--title-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
}

.contacts-list {
  display: block;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .contacts-list {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list--hidden {
    display: none;
  }
}

.contacts-list--mobile {
  margin-left: 0;
  margin-bottom: 64px;
}

@media screen and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-list__item--mobile:first-child {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .contacts-list__item--mobile:first-child:first-child {
    font-size: 28px;
  }
}

.contacts-list__item--mobile:last-child {
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (max-width: 479px) {
  .contacts-list__item--mobile:last-child:last-child {
    font-size: 22px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  min-width: 200px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
}

.button--active {
  transition: background-color var(--animation);
}

.button--active:hover, .button--active:focus {
  background-color: var(--second-accent-color);
}

.button__icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: var(--dark-bg-text-color);
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.socials-list {
  display: inline-flex;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--animation);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--accent-color);
}

.socials-list__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon {
  fill: var(--icons-color);
  transition: fill var(--animation);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: var(--dark-bg-text-color);
}

.socials-list__icon--dark-bg {
  fill: var(--dark-bg-text-color);
}

.strong-title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form__input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--dark-bg-text-color);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    flex-grow: 1;
  }
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-webkit-autofill, .footer-form__input:-webkit-autofill:hover, .footer-form__input:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-text-fill-color: var(--dark-bg-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
}

.footer-form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-top: 9px;
  }
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .buttons-list {
    flex-wrap: wrap;
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .buttons-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.buttons-list__button {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--second-bg-color);
  border: var(--second-bg-color);
  transition: color var(--animation), background-color var(--animation), border var(--animation), box-shadow var(--animation);
}

.buttons-list__button:hover, .buttons-list__button:focus {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card {
  --grid-item: 1;
  line-height: 1.86;
  background-color: var(--dark-bg-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card {
    --grid-item: 3;
  }
}

.portfolio-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  transition: box-shadow var(--animation);
}

.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(151, 131, 131, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__text {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.portfolio-card__label {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-card__img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card__img-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--dark-bg-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}

.portfolio-card__link:hover .portfolio-card__img-text,
.portfolio-card__link:focus .portfolio-card__img-text {
  transform: translateY(0);
}

.modal-form {
  text-align: center;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__label {
  margin-bottom: 4px;
}

.modal-form__input {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);
}

.modal-form__input:-webkit-autofill, .modal-form__input:-webkit-autofill:hover, .modal-form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-text-color) inset;
}

.modal-form__field:focus-within .modal-form__input, .modal-form__input:invalid:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input-thumb {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill var(--animation);
}

.modal-form__field:focus-within .modal-form__icon,
.modal-form__input:invalid:not(:placeholder-shown) + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  margin-bottom: 20px;
}

.modal-form__textarea-input {
  padding-left: 16px;
  resize: none;
  width: 100%;
  height: 120px;
}

.modal-form__textarea-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: block;
  margin-bottom: 30px;
  font-size: 0;
}

.checkbox__thumb {
  position: relative;
  display: inline;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .checkbox__thumb {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 480px) {
  .checkbox__thumb {
    white-space: nowrap;
  }
}

.checkbox__input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox__label::before {
  content: '';
  display: inline-flex;
  vertical-align: middle;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: border-color var(--animation);
}

.checkbox__input:focus ~ .checkbox__label::before,
.checkbox__input:checked ~ .checkbox__label::before {
  border-color: var(--accent-color);
}

.checkbox__icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  transition: background-color var(--animation);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
}

.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.menu-button {
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 201;
}

.menu-button__icon {
  fill: var(--title-color);
  transition: fill var(--animation);
}

.menu-button:hover .menu-button__icon,
.menu-button:focus .menu-button__icon {
  fill: var(--accent-color);
}

.menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.menu-button__icon-menu-close {
  display: none;
}

.menu-button.is-open .menu-button__icon-menu-close {
  display: block;
}

.mobile-menu-socials-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.mobile-menu-socials-list__item::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-socials-list__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 479px) {
  .mobile-menu-socials-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--grey-bg {
  background-color: var(--second-bg-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.page-header {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-border-color);
}

.page-header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header__logo {
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  max-width: 1600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  color: var(--dark-bg-text-color);
  background-color: var(--first-bg-color);
  border: 1px solid var(--first-bg-color);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  font-size: 14px;
}

.benefits__item {
  --grid-item: 1;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    --grid-item: 4;
  }
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--second-bg-color);
}

.benefits__label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

@media screen and (max-width: 767px) {
  .benefits__label {
    text-align: center;
  }
}

.work {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__item {
  --grid-item: 3;
}

.work__thumb {
  position: relative;
}

.work__label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  line-height: 1.19;
}

.team__item {
  --grid-item: 1;
  padding-bottom: 24px;
  text-align: center;
  background-color: var(--dark-bg-text-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid-item: 4;
    padding-bottom: 30px;
  }
}

.team__member {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--title-color);
}

.clients__item {
  --grid-item: 2;
  height: 90px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .clients__item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    --grid-item: 6;
  }
}

.clients__link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  border: 1px solid;
  border-radius: 4px;
  transition: color var(--animation);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

.page-footer__grid {
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .page-footer__grid {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__grid {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__grid-item {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__grid-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__grid-item:not(:last-child) {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__grid-item:not(:last-child) {
    flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__grid-item:last-child {
    flex-basis: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__grid-item:last-child {
    flex-basis: calc(50% - 15px);
    margin-left: auto;
    padding-left: 15px;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 1;
  padding: 93px 15px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal {
  transform: scale(1);
  z-index: 101;
  padding: 40px;
  transition: transform var(--animation);
  max-width: 450px;
  min-height: 609px;
  background-color: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: var(--dark-bg-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__button-close-icon {
  fill: var(--bg-border-color);
  transition: fill var(--animation);
}

.modal__button-close:hover .modal__button-close-icon,
.modal__button-close:focus .modal__button-close-icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animation);
  background: var(--dark-bg-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/*# sourceMappingURL=main.css.map */