.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;

  @extend %colorAnimation;

  &:hover,
  &:focus {
    @extend %accentColor;
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
