.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form__input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--dark-bg-text-color);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: var(--dark-bg-text-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
  }
}

.footer-form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
