.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.logo__part {
  color: var(--accent-color);
}

.logo__part--light-bg {
  color: var(--logo-color);
}

.logo__part--dark-bg {
  color: var(--dark-bg-text-color);
}
