.benefits {
  font-size: 14px;
}

.benefits__item {
  --grid-item: 1;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
  }
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--second-bg-color);
}

.benefits__label {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
