.clients__item {
  --grid-item: 2;
  height: 90px;
  width: 100%;

  @media screen and (min-width: 768px) {
    --grid-item: 3;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 6;
  }
}

.clients__link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  border: 1px solid;
  border-radius: 4px;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;

  transition: fill var(--animation);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: currentColor;
  }
}
