.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  max-width: 1600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;

  color: var(--dark-bg-text-color);
  background-color: var(--first-bg-color);
  border: 1px solid var(--first-bg-color);

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
