.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  z-index: 200;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--animation);

  background: var(--dark-bg-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}
