.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 1;

  padding: 93px 15px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.2);

  @media screen and (min-width: 768px) {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal {
  transform: scale(1);
  z-index: 101;

  padding: 40px;

  transition: transform var(--animation);

  max-width: 450px;
  min-height: 609px;

  background-color: var(--dark-bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.5;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 102;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;

  background-color: var(--dark-bg-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__button-close-icon {
  fill: var(--bg-border-color);

  transition: fill var(--animation);

  .modal__button-close:hover &,
  .modal__button-close:focus & {
    fill: var(--accent-color);
  }
}
